<div style="background:#0c0c0c">
    <div class="container currency-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">
                    代币市场
                </h2>
                <div><div class="section-title-underscore"></div></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" v-for="x in $root.currencies">
                <div class="trade-tile">
                    <div class="trade-count">{{ x.orders.length }}</div>
                    <div class="trade-subtitle">正在进行</div>
                </div>
                <h3 class="section-title">{{ x.id }}</h3>
                <div><div class="section-title-underscore"></div></div>
                <div class="currency-description">{{ x.description }}</div>
                <table class="trade-table">
                    <tr v-for="y in x.orders.slice(0, 5)">
                        <td>{{ y.account }}</td>
                        <td>{{ y.ask.quantity.indexOf('EOS') > 0 ? '出售' : '购买' }}</td>
                        <td>{{ y.bid.quantity }}</td>
                        <td>{{ y.ask.quantity }}</td>
                    </tr>
                </table>
                <div style="margin-top: 10px;">
                    <router-link :to="{ name: '/currency/:id', path: '/currency/' + x.id, params: { 'id': x.id } }" class="btn btn-small"><i class="fa fa-exchange"></i> 去交易</router-link>
                    <a v-bind:href="x.website" target="_blank" class="btn btn-small"><i class="fa fa-home"></i> 去官网</a>
                </div>
            </div>
        </div>
    </div>
</div>