<div class="home-page">
    <div class="clearfix" style="width: 100%;background: #313131;color:#ffffff;padding: 4rem 4rem 2rem 4rem;">
        <div class="continer">
            <div class="row">
                <div class="col-8">
                    <h1 style="color:#FFB500;margin-bottom:10px;">KYUBEY</h1>
                    <h3 style="font-weight:normal!important;">The first EOS based decentralized exchange in the world</h3>
                    <p style="margin-bottom: 10px;">No deposit / No withdrawal / Safe assets / Open & transparency</p>
                    <button type="button" class="btn btn-warning">Trade Now</button>
                </div>
                <div class="col-4">
                    <img style="width: 20rem;" src="/img/home-page//conputer.png" alt="dex" />
                </div>
            </div>
        </div>
    </div>
    <div class="banner-box">
        <div class="home-news">需要及时知道的新币通知标题 11-29</div>
        <div class="home-news">需要及时知道的活动通知 11-29</div>
        <div class="home-news">需要及时知道的新币通知 11-29</div>
        <div class="more-text">更多>></div>
    </div>
    <section>
        <div class="table-container">
            <div class="table-title-container">
                <div class="d-flex align-items-center">
                    <img src="/img/home-page/eos.png" alt="eos" class="eos-img" />
                    <span>EOS交易</span>
                </div>
                <div class="d-flex align-items-center serach-btn">
                    <input type="search" class="my-input" placeholder="通行证" name="name" value="" />
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">交易对</th>
                        <th scope="col">最新价</th>
                        <th scope="col">24H涨跌幅</th>
                        <th scope="col">24H最高价</th>
                        <th scope="col">24H最低价</th>
                        <th scope="col">24H成交量</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in tokenTable" :key="index">
                        <td>{{item.symbol}}/EOS</td>
                        <td>{{item.current_price}}</td>
                        <td>{{item.change_recent_day}}</td>
                        <td>{{item.max_price_recent_day}}</td>
                        <td>{{item.min_price_recent_day}}</td>
                        <td>{{item.volume_recent_day}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
