<div class="home-page">
    <div class="clearfix" style="width: 100%;background: #313131;color:#ffffff;padding: 4rem 4rem 2rem 4rem;">
        <div class="continer">
            <div class="row">
                <div class="col-8">
                    <h1 style="color:#FFB500;margin-bottom:10px;">KYUBEY</h1>
                    <h3 style="font-weight:normal!important;">The first EOS based decentralized exchange in the world</h3>
                    <p style="margin-bottom: 10px;">No deposit / No withdrawal / Safe assets / Open & transparency</p>
                </div>
                <div class="col-4">
                    <img style="width: 20rem;" src="/img/home-page//conputer.png" alt="dex" />
                </div>
            </div>
        </div>
    </div>
    <div class="banner-box">
        <div class="home-news">需要及时知道的新币通知标题 11-29</div>
        <div class="home-news">需要及时知道的活动通知 11-29</div>
        <div class="home-news">需要及时知道的新币通知 12-1</div>
        <div class="more-text">更多>></div>
    </div>
    <section>
        <div class="table-container">
            <div class="table-title-container">
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center mr-5">
                        <i class="fa fa-2x fa-star-o mr-2" style="color: #AFAFAF"></i>    
                        <span>自选</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="/img/home-page/eos.png" alt="eos" class="eos-img mr-2" />
                        <span>EOS交易</span>
                    </div>
                </div>
                <div class="d-flex align-items-center serach-btn">
                    <input type="search" class="my-input" placeholder="通行证" name="name" v-model="searchText"/>
                    <button type="submit" @click="searchToken" @keyup.enter="searchToken">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">交易对</th>
                        <th scope="col">最新价</th>
                        <th scope="col">
                            24H涨跌幅
                            <i class="fa fa-caret-up"></i>
                            <i class="fa fa-caret-down"></i>
                        </th>
                        <th scope="col">24H最高价</th>
                        <th scope="col">24H最低价</th>
                        <th scope="col">
                            24H成交量
                            <i class="fa fa-caret-up"></i>
                            <i class="fa fa-caret-down"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in tokenTable.slice(0,10)" :key="index">
                        <td scope="row">
                            <i class="my-star"></i>        
                        </td>
                        <td>{{item.symbol}}/EOS</td>
                        <td>{{item.current_price}}</td>
                        <td>{{item.change_recent_day}}</td>
                        <td>{{item.max_price_recent_day}}</td>
                        <td>{{item.min_price_recent_day}}</td>
                        <td>{{item.volume_recent_day}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-4">
            <button type="button" class="btn btn-light small pl-5 pr-5" style="font-size: 12px;color: #999999;box-shadow: 3px 3px 11px 5px rgba(218,216,216,0.5);">查看更多</button>
        </div>
    </section>
</div>
