<div>
    <div class="home-banner">
        <div class="home-banner-text-outer">
            <div class="home-banner-title">Kyubey DEX</div>
            <div class="home-banner-subtitle">全球首家去中心化交易所</div>
            <img src="/img/mobile.png" class="home-banner-picture" />
        </div>
    </div>

    <div class="home-announcement-outer">
        <img src="/img/announce.svg" />
        <span>公告：blablabla</span>
    </div>

    <div class="home-token-list">
        <table class="home-token-filter">
            <tr>
                <td class="active">涨幅榜</td>
                <td>24H成交榜</td>
            </tr>
        </table>
        <table class="home-token-table">
            <tr>
                <td class="token-pair-cell">
                    <div class="token-pair">KBY/EOS</div>
                    <div class="token-volume">24H成交量 1234.5678 EOS</div>
                </td>
                <td class="token-price-cell">0.0001 EOS</td>
                <td class="token-change-cell">
                    <div class="token-change green">+0.01%</div>
                </td>
            </tr>
            <tr>
                <td class="token-pair-cell">
                    <div class="token-pair">CMU/EOS</div>
                    <div class="token-volume">24H成交量 1234.5678 EOS</div>
                </td>
                <td class="token-price-cell">0.0001 EOS</td>
                <td class="token-change-cell">
                    <div class="token-change red">-0.01%</div>
                </td>
            </tr>
        </table>
        <div class="home-more-tokens">查看更多 &gt;</div>
    </div>
</div>
