<div>
    <div class="wallet-summary mt-60px">
        <div class="wallet-avatar-outer">
            <img src="/img/avatar.png" class="wallet-avatar" />
            <span class="wallet-account-name">{{account.name}}</span>
        </div>
        <div class="wallet-evaluated-outer">
            <strong>{{ parseFloat(totalEvaluated).toFixed(8) }}</strong> EOS
        </div>
        <div class="wallet-subline-outer">
            {{$t('current_total_valuation')}}
        </div>
    </div>

    <div class="home-page">
        <section>
            <div class="table-container">
                <div class="table-title-container">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center my-tab p-2">
                            {{$t('my_account')}}
                        </div>
                    </div>
                    <div class="m-2">
                        <div class="d-flex align-items-center serach-btn">
                            <input type="search" class="my-input" :placeholder="$t('token')" name="name" v-model="searchText" />
                            <button type="submit" @click="searchToken" @keyup.enter="searchToken">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">{{$t('token')}}</th>
                            <th scope="col">{{$t('available_balance')}}</th>
                            <th scope="col">{{$t('freeze_balance')}}</th>
                            <th scope="col">{{$t('valuation')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="cursor: pointer;" v-for="(item, index) in listWithFiter" :key="index"
                            @click="goToEosExchange(item.symbol)">
                            <td scope="row" v-if="isSignedIn">
                                <i class="my-star"></i>
                            </td>
                            <td><font size="3">{{item.symbol}}</font></td>
                            <td><font size="3" color="#FFB500">{{item.valid}}</font></td>
                            <td><font size="3" >{{item.freeze}}</font></td>
                            <td><font size="3" >{{item.eos}}</font></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>