<div class="exchange-page mt-60px small">
    <div class="page-container container" style="padding: 1rem 0;">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card my-card p-3 flex-row justify-content-between" style="margin-bottom: 10px;">
                    <div class="d-flex align-items-center">
                        <div class="token-logo" style="margin-right: 20px;">
                            <img :src="baseInfo.iconSrc" style="width: 50px;" alt="logo">
                        </div>
                        <div class="d-inline-block">
                            <p>
                                <span>{{tokenId}}</span>
                                <span>/EOS</span>
                            </p>
                            <button @click="showIntroduction = !showIntroduction" type="button" class="btn btn-warning" style="font-size: 12px;">币种简介</button>
                        </div>
                    </div>
                    <div>
                        <p>{{$t('latest_price')}}</p>
                        <p><span>{{parseFloat(baseInfo.currentPrice).toFixed(6)}}</span> EOS</p>
                    </div>
                    <div>
                        <p>{{$t('ups_downs_24H')}}</p>
                        <p><span>{{parseFloat(baseInfo.changeRecentDay).toFixed(6)}}</span> EOS</p>
                    </div>
                    <div>
                        <p>{{$t('highest_price_24H')}}</p>
                        <p><span>{{parseFloat(baseInfo.maxPriceRecentDay).toFixed(6)}}</span> EOS</p>
                    </div>
                    <div>
                        <p>{{$t('lowest_price_24H')}}</p>
                        <p><span>{{parseFloat(baseInfo.minPriceRecentDay).toFixed(6)}}</span> EOS</p>
                    </div>
                    <div>
                        <p>{{$t('volume_24H')}}</p>
                        <p><span>{{parseFloat(baseInfo.volumeRecentDay).toFixed(4)}}</span> EOS</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters" v-if="showIntroduction">
            <div class="col-md-12">
                <div class="card my-card p-3 flex-row" style="margin-bottom: 10px;">
                    <div class="d-inline-block w-50">
                        <p>{{$t('token_introduction')}}</p>
                        <p>{{baseInfo.description}}</p>
                    </div>
                    <div class="d-inline-block w-25 pl-5">
                        <p>{{$t('total_circulation')}}</p>
                        <p>{{baseInfo.totalSupply}}</p>
                        <p>{{$t('contract_name')}}</p>
                        <p>{{baseInfo.contract.transfer}}</p>
                    </div>
                    <div class="d-inline-block w-25">
                        <p>{{$t('total_liquidity')}}</p>
                        <p>{{baseInfo.totalCirculate}}</p>
                        <p>{{$t('official_website')}}</p>
                        <a href="#">{{baseInfo.website}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-3">
                <div class="card my-card e-order-card">
                    <div class="my-card-header">
                        <a class="order-filter-btn" :class="{ 'order-filter-btn-active': control.order === 'mixed' }" title="Deep" v-on:click="control.order = 'mixed'"><img src="/img/order-mixed.png" /></a>
                        <a class="order-filter-btn" :class="{ 'order-filter-btn-active': control.order === 'buy' }" title="Buy" v-on:click="control.order = 'buy'"><img src="/img/order-buy.png" /></a>
                        <a class="order-filter-btn" :class="{ 'order-filter-btn-active': control.order === 'sell' }" title="Sell" v-on:click="control.order = 'sell'"><img src="/img/order-sell.png" /></a>
                    </div>
                    <table class="table e-table table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col">{{$t('price')}}</th>
                                <th scope="col">{{$t('amount')}}</th>
                                <th scope="col">{{$t('total')}}</th>
                            </tr>
                        </thead>
                        <tbody v-if="control.order !== 'buy'">
                            <tr v-for="(x, i) in sellOrders" :key="i" v-on:click="setPublish(x.unitPrice, x.amount)" :style="'background: linear-gradient(to left, black ' + getcolorOccupationRatio(x.amount,1000) + ', #292929 ' + getcolorOccupationRatio(x.amount,1000) + ')'">
                                <td style="color: #E23030;">{{parseFloat(x.unitPrice).toFixed(5)}}</td>
                                <td>{{parseFloat(x.amount).toFixed(4)}}</td>
                                <td>{{parseFloat(x.total).toFixed(4)}}</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="3" class="e-orders-split">
                                    <span >4307.80 ↓</span>
                                </td>
                            </tr>
                            <tr v-for="(x, i) in buyOrders" :key="i" v-if="control.order !== 'sell'" v-on:click="setPublish(x.unitPrice, x.amount)" :style="'background: linear-gradient(to left, black ' + getcolorOccupationRatio(x.total,1000) + ', #292929 ' + getcolorOccupationRatio(x.total,1000) + ')'">
                                <td style="color: #00B54F;">{{parseFloat(x.unitPrice).toFixed(5)}}</td>
                                <td>{{parseFloat(x.amount).toFixed(4)}}</td>
                                <td>{{parseFloat(x.total).toFixed(4)}}</td>
                                <i style="width: 100%;height: 100%;background: red;"></i>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-card e-chart-card">
                    <div class="my-card-header header-text-color">
                        {{$t('k_line')}}
                    </div>
                </div>
                <div class="card my-card e-submit-card">
                    <div class="my-card-header header-text-color">
                        <div @click="setTradeType('limit')" class="border-button d-inline-block" :class="{'border-button-active': control.trade === 'limit'}">限价交易</div>
                        <div @click="setTradeType('market')" class="border-button d-inline-block" :class="{'border-button-active': control.trade === 'market'}">市价交易</div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 mt-3 pl-4 pr-4" style="border-right: 1px solid #3E3E3E;">
                                <div class="d-flex justify-content-between mb-2">
                                    <span class="text-green" style="font-size: 16px"><b>{{$t('buy')}} {{tokenId}}</b></span>
                                    <span style="color: #626262;">{{$t('balance')}}: 0.0000 EOS</span>
                                </div>
                                <div style="font-size: 0;" class="mb-2">
                                    <label style="width: 70px;color: #AFAFAF;font-size: 14px;">{{$t('price')}}</label>
                                    <div class="e-input">
                                        <input @input="handlePriceChange" v-model="inputs.buyPrice" type="number" autocomplete="off" step="0.0001" min="0.0001" class="e-input-inner" :placeholder="control.trade === 'market'?$t('best_buy_price'):''" :disabled="control.trade === 'market' ? true:false">
                                        <span class="e-input-suffix">EOS</span>
                                    </div>
                                </div>
                                <div style="font-size: 0;" class="mb-2" v-if="control.trade === 'limit'">
                                    <label style="width: 70px;color: #AFAFAF;font-size: 14px;">{{$t('amount')}}</label>
                                    <div class="e-input">
                                        <input @input="handleAmountChange" v-model="inputs.buyAmount" type="number" autocomplete="off" step="0.0001" min="0.0001" class="e-input-inner">
                                        <span class="e-input-suffix">{{tokenId}}</span>
                                    </div>
                                </div>
                                <div class="mb-2" :class="{'dn':control.trade==='market'}">
                                    <div style="margin-left: 70px;" class="d-flex justify-content-between">
                                        <div v-for="x in [0.25, 0.50, 0.75, 1.00]" class="outline-button" @click="buyPrecent=x" :class="{'outline-button-active': buyPrecent===x}">{{x*100}}%</div>
                                    </div>
                                </div>
                                <div style="font-size: 0;" class="mb-2">
                                    <label style="width: 70px;color: #AFAFAF;font-size: 14px;">{{$t('total')}}</label>
                                    <div class="e-input">
                                        <input @input="handleTotalChange" v-model="inputs.buyTotal" type="number" autocomplete="off" step="0.0001" min="0.0001" class="e-input-inner">
                                        <span class="e-input-suffix">EOS</span>
                                    </div>
                                </div>
                                <div class="mb-2" :class="{'dn':control.trade==='limit'}">
                                    <div style="margin-left: 70px;" class="d-flex justify-content-between">
                                        <div v-for="x in [0.25, 0.50, 0.75, 1.00]" class="outline-button" @click="buyPrecent=x" :class="{'outline-button-active': buyPrecent===x}">{{x*100}}%</div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div style="margin-left: 70px;">
                                        <button v-if="isSignedIn" @click="scatterBuy" type="button" class="btn w-100 bg-green text-white">{{$t('buy')}}</button>
                                        <button v-else @click="login" type="button" class="btn w-100 bg-green text-white">{{$t('sign_trade')}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-3 pl-4 pr-4">
                                <div class="d-flex justify-content-between mb-2">
                                    <span class="text-red" style="font-size: 16px"><b>{{$t('sell')}} {{tokenId}}</b></span>
                                    <span style="color: #626262;">{{$t('balance')}}: 0.0000 EOS</span>
                                </div>
                                <div style="font-size: 0;" class="mb-2">
                                    <label style="width: 70px;color: #AFAFAF;font-size: 14px;">{{$t('price')}}</label>
                                    <div class="e-input">
                                        <input v-model="inputs.sellPrice" type="number" autocomplete="off" step="0.0001" min="0.0001" class="e-input-inner" :placeholder="control.trade === 'market'?$t('best_sell_price'):''" :disabled="control.trade === 'market' ? true:false">
                                        <span class="e-input-suffix">EOS</span>
                                    </div>
                                </div>
                                <div style="font-size: 0;" class="mb-2" v-if="control.trade === 'limit'">
                                    <label style="width: 70px;color: #AFAFAF;font-size: 14px;">{{$t('amount')}}</label>
                                    <div class="e-input">
                                        <input v-model="inputs.sellAmount" type="number" autocomplete="off" step="0.0001" min="0.0001" class="e-input-inner">
                                        <span class="e-input-suffix">{{tokenId}}</span>
                                    </div>
                                </div>
                                <div class="mb-2" :class="{'dn':control.trade==='market'}">
                                    <div style="margin-left: 70px;" class="d-flex justify-content-between">
                                        <div v-for="x in [0.25, 0.50, 0.75, 1.00]" class="outline-button" @click="sellPrecent=x" :class="{'outline-button-active': sellPrecent===x}">{{x*100}}%</div>
                                    </div>
                                </div>
                                <div style="font-size: 0;" class="mb-2">
                                    <label style="width: 70px;color: #AFAFAF;font-size: 14px;">{{$t('total')}}</label>
                                    <div class="e-input">
                                        <input v-model="inputs.sellTotal" type="number" autocomplete="off" step="0.0001" min="0.0001" class="e-input-inner">
                                        <span class="e-input-suffix">EOS</span>
                                    </div>
                                </div>
                                <div class="mb-2" :class="{'dn':control.trade==='limit'}">
                                    <div style="margin-left: 70px;" class="d-flex justify-content-between">
                                        <div v-for="x in [0.25, 0.50, 0.75, 1.00]" class="outline-button" @click="sellPrecent=x" :class="{'outline-button-active': sellPrecent===x}">{{x*100}}%</div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div style="margin-left: 70px;">
                                        <button @click="scatterSell" v-if="isSignedIn" type="button" class="btn w-100 bg-red text-white">{{$t('sell')}}</button>
                                        <button v-else @click="login" type="button" class="btn w-100 bg-red text-white">{{$t('sign_trade')}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card my-card e-pair-card">
                    <div class="my-card-header header-text-color" style="justify-content: space-between;">
                        <div>
                            <div @click="control.markets = 'favorite'" class="border-button d-inline-block" :class="{'border-button-active': control.markets !== 'eos'}"><i class="fa fa-star-o mr-1"></i>{{$t('favorite')}}</div>
                            <div @click="control.markets = 'eos'" class="border-button d-inline-block" :class="{'border-button-active': control.markets === 'eos'}">EOS</div>
                        </div>
                        <div class="input-container">
                            <input type="text" class="d-inline-block search-input">
                            <button class="d-inline-block search-input-button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <table class="table e-table table-sm table-hover pl-1 scroll-table">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 20px;"></th>
                                <th scope="col" class="text-left">{{$t('market')}}</th>
                                <th scope="col">{{$t('latest_price')}}</th>
                                <th scope="col">{{$t('ups_downs')}}</th>
                            </tr>
                        </thead>
                        <tbody style="height: 390px;">
                            <tr v-for="(x, i) in favoriteList" :key="i">
                                <td style="width: 20px;"><i class="fa fa-star-o" style="color: #AFAFAF;"></i></td>
                                <td class="text-left">{{x.symbol}}/EOS</td>
                                <td>{{parseFloat(x.unitPrice).toFixed(4)}}</td>
                                <td>{{parseFloat(x.change).toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card my-card e-transaction-card">
                    <div class="my-card-header header-text-color">
                        {{$t('latest_transactions')}}
                    </div>
                    <table class="table e-table table-sm table-hover pl-1 scroll-table">
                        <thead>
                            <tr>
                                <th scope="col">{{$t('price')}}</th>
                                <th scope="col">{{$t('amount')}}</th>
                                <th scope="col">{{$t('date')}}</th>
                            </tr>
                        </thead>
                        <tbody style="height:260px;">
                            <tr v-for="(x, i) in historyOrders" :key="i">
                                <td>{{parseFloat(x.unitPrice).toFixed(8)}}</td>
                                <td>{{parseFloat(x.amount).toFixed(4)}}</td>
                                <td>{{formatTime(x.time)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exchangeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <dv class="modal-content" style="background: rgba(0, 0, 0, 0.8)">
                <div class="close-btn text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: #B4B4B4;">&times;</span>
                    </button>
                </div>
                <div class="modal-top text-center">
                    <div class="modal-body">
                        <p class="p1 text-center">
                            {{$t('exchange_tip')}}
                        </p>
                        <div id="exchangeQRCodeBox" class="qrcode-img"></div>
                        <p class="p2 text-center">
                            {{$t('exchange_account')}}<br />
                            {{account==null ? "":account.name}}
                        </p>
                    </div>
                </div>
                <div class="modal-bottom text-center">
                    <div class="modal-body text-left" v-if="exchange.type=='buy'">
                        <p class="p3 text-success">
                            {{$t('exchange_buy')}} {{exchange.taretSymbol}}
                        </p>
                        <p>
                            {{$t('exchange_price')}}：{{exchange.amount/exchange.taretAmount}} EOS
                        </p>
                        <p>
                            {{$t('exchange_amount')}}：{{exchange.taretAmount}} {{exchange.taretSymbol}}
                        </p>
                        <p>
                            {{$t('exchange_total')}}：{{exchange.amount}} EOS
                        </p>
                    </div>
                    <div class="modal-body text-left" v-if="exchange.type=='sell'">
                        <p class="p3 text-danger">
                            {{$t('exchange_sell')}} {{exchange.symbol}}
                        </p>
                        <p>
                            {{$t('exchange_sellprice')}}：{{exchange.amount/exchange.taretAmount}} EOS
                        </p>
                        <p>
                            {{$t('exchange_sellamount')}}：{{exchange.taretAmount}} {{exchange.symbol}}
                        </p>
                        <p>
                            {{$t('exchange_total')}}：{{exchange.amount}} EOS
                        </p>
                    </div>
                </div>
            </dv>
        </div>
    </div>
</div>


