<div>
    <div class="exchange-header">
        <img class="exchange-header-icon" src="/token_assets/KBY/icon.png" />
        <div class="exchange-header-text-outer">
            <div class="exchange-header-token">KBY/EOS</div>
            <div class="exchange-header-publisher">dacincubator</div>
        </div>
        <div class="exchange-header-star"><i class="fa fa-star-o"></i></div>
        <div class="exchange-header-back" v-if="mobile.nav !== 'summary'" @click="mobile.nav = 'summary'"><i class="fa fa-line-chart"></i></div>
    </div>
    <div v-if="mobile.nav === 'summary'">
        <div class="exchange-summary">
            <div class="exchange-summary-left">
                <div class="exchange-summary-price green">0.01000000 ↑</div>
                <div class="exchange-summary-rate green">99.9999%</div>
            </div>
            <div class="exchange-summary-right">
                <div class="exchange-summary-field">
                    24H VOL <span class="exchange-summary-value">1234.5678</span>
                </div>
                <div class="exchange-summary-field">
                    24H High <span class="exchange-summary-value">1234.5678</span>
                </div>
                <div class="exchange-summary-field">
                    24H Low <span class="exchange-summary-value">1234.5678</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <table class="exchange-table-header navigator">
            <tr>
                <th v-bind:class="{ active: mobile.summaryActive === 'candlestick' }" @click="mobile.summaryActive = 'candlestick'"><i class="fa fa-bar-chart"></i> Candlestick</th>
                <th v-bind:class="{ active: mobile.summaryActive === 'order' }" @click="mobile.summaryActive = 'order'"><i class="fa fa-list-ul"></i> Orders</th>
                <th v-bind:class="{ active: mobile.summaryActive === 'history' }" @click="mobile.summaryActive = 'history'"><i class="fa fa-history"></i> History</th>
                <th v-bind:class="{ active: mobile.summaryActive === 'description' }" @click="mobile.summaryActive = 'description'"><i class="fa fa-info-circle"></i> Description</th>
            </tr>
        </table>

        <table class="exchange-table-header" v-if="mobile.summaryActive === 'order'">
            <tr>
                <th>Buy Amount(KBY)</th>
                <th>Price(EOS)</th>
                <th>Sell Amount(KBY)</th>
            </tr>
        </table>

        <div class="exchange-table-data-outer" v-if="mobile.summaryActive === 'order'">
            <div class="exchange-table-data-left">
                <table class="exchange-table-data">
                    <tr style="background: linear-gradient(to left, rgb(232,247,244) 33%, rgb(255,255,255) 33%);">
                        <td>1234.5678</td>
                        <td>0.0011</td>
                    </tr>
                    <tr>
                        <td>1234.5678</td>
                        <td>0.0011</td>
                    </tr>
                </table>
            </div>
            <div class="exchange-table-data-right">
                <table class="exchange-table-data">
                    <tr style="background: linear-gradient(to left, rgb(255,255,255) 33%, rgb(249,237,235) 33%);">
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                    <tr>
                        <td>0.0011</td>
                        <td>1234.5678</td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="tv_chart_container" v-show="mobile.summaryActive === 'candlestick'"></div>

        <table class="exchange-table-history" v-if="mobile.summaryActive === 'history'">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>价格(EOS)</th>
                    <th>数量(KBY)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12-18 14:25:12</td>
                    <td class="green">1234.5678</td>
                    <td>1234.5678</td>
                </tr>
                <tr>
                    <td>12-18 14:25:12</td>
                    <td class="red">1234.5678</td>
                    <td>1234.5678</td>
                </tr>
                <tr>
                    <td>12-18 14:25:12</td>
                    <td class="green">1234.5678</td>
                    <td>1234.5678</td>
                </tr>
                <tr>
                    <td>12-18 14:25:12</td>
                    <td class="green">1234.5678</td>
                    <td>1234.5678</td>
                </tr>
                <tr>
                    <td>12-18 14:25:12</td>
                    <td class="red">1234.5678</td>
                    <td>1234.5678</td>
                </tr>
            </tbody>
        </table>

        <div class="exchange-description" v-if="mobile.summaryActive === 'description'">
            <div class="exchange-description-icon-outer">
                <img src="/token_assets/KBY/icon.png" />
                <span class="exchange-description-symbol">KBY</span>
            </div>
            <div class="exchange-description-content">KBY是通过分布式班科协议标准发行的Kyubey孵化器平台币.KBY的持有者将成为Kyubey孵化器平台的股东并享有股东权利，包括平台利润分红、投票权及小区其它分布式应用的空投。当然，KBY也将上架一系列交易所进行流通。</div>
            <hr />
            <table class="exchange-description-table">
                <tr>
                    <td>最大发行量</td>
                    <td>200000000.0000</td>
                </tr>
                <tr>
                    <td>最大发行量</td>
                    <td>200000000.0000</td>
                </tr>
                <tr>
                    <td>最大发行量</td>
                    <td>200000000.0000</td>
                </tr>
            </table>
        </div>

        <div class="exchange-buttons">
            <div class="exchange-buttons-item green" @click="mobile.exchangeMode = 'buy'; mobile.nav = 'exchange'">Buy</div>
            <div class="exchange-buttons-item red" @click="mobile.exchangeMode = 'sell'; mobile.nav = 'exchange'">Sell</div>
        </div>
    </div>
    <div v-if="mobile.nav === 'exchange'">
        <div class="exchange-container">
            <div class="exchange-main-left">
                <div class="exchange-main-row">
                    <div class="exchange-type-button active">买入</div>
                    <div class="exchange-type-button">卖出</div>
                    <div class="clear"></div>
                </div>
                <div class="exchange-main-row">
                    <div class="exchange-type-button active">限价</div>
                    <div class="exchange-type-button">市价</div>
                    <div class="clear"></div>
                </div>
                <div class="exchange-main-row">
                    <div class="exchange-main-row-label">单价</div>
                    <div class="exchange-main-amount-decrease">-</div>
                    <div class="exchange-main-amount-textbox"><input type="text" value="0.00010000" /></div>
                    <div class="exchange-main-amount-increase">+</div>
                    <div class="clear"></div>
                </div>
                <div class="exchange-main-row">
                    <div class="exchange-main-row-label">数量(KBY)</div>
                    <div class="exchange-main-amount-textbox no-border-right"><input type="text" class="text-align-left" value="0.00010000" /></div>
                    <div class="exchange-main-amount-token">KBY</div>
                    <div class="clear"></div>
                    <div class="exchange-main-row-hint">≈ 0.0000 EOS</div>
                </div>
                <div class="exchange-main-row">
                    <div class="exchange-type-button sm col-4">25%</div>
                    <div class="exchange-type-button sm col-4">50%</div>
                    <div class="exchange-type-button sm col-4">75%</div>
                    <div class="exchange-type-button sm col-4">100%</div>
                    <div class="clear"></div>
                    <div class="exchange-main-row-label">可用EOS: 0.0000 EOS</div>
                </div>
                <div class="exchange-main-row">
                    <div class="exchange-main-button green">买入</div>
                </div>
            </div>
            <div class="exchange-main-right">
                <table class="exchange-main-delegate-table">
                    <thead>
                        <tr>
                            <th>价格</th>
                            <th>委托量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background: linear-gradient(to left, rgb(249,237,235) 33%, rgb(255,255,255) 33%);">
                            <td>0.0001</td>
                            <td>0.0001</td>
                        </tr>
                        <tr style="background: linear-gradient(to left, rgb(249,237,235) 55%, rgb(255,255,255) 55%);">
                            <td>0.0001</td>
                            <td>0.0001</td>
                        </tr>
                        <tr style="background: linear-gradient(to left, rgb(249,237,235) 44%, rgb(255,255,255) 44%);">
                            <td>0.0001</td>
                            <td>0.0001</td>
                        </tr>
                    </tbody>
                </table>
                <div class="exchange-main-delegate-latest">
                    0.0001 ↑
                </div>
                <table class="exchange-main-delegate-table">
                    <tbody>
                        <tr style="background: linear-gradient(to left, rgb(232,247,244) 33%, rgb(255,255,255) 33%);">
                            <td>0.0001</td>
                            <td>0.0001</td>
                        </tr>
                        <tr style="background: linear-gradient(to left, rgb(232,247,244) 33%, rgb(255,255,255) 33%);">
                            <td>0.0001</td>
                            <td>0.0001</td>
                        </tr>
                        <tr style="background: linear-gradient(to left, rgb(232,247,244) 33%, rgb(255,255,255) 33%);">
                            <td>0.0001</td>
                            <td>0.0001</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clear"></div>
            <table class="exchange-table-header navigator gray">
                <tr>
                    <th v-bind:class="{ active: mobile.delegateActive === 'current' }" @click="mobile.delegateActive = 'current'">当前委托</th>
                    <th v-bind:class="{ active: mobile.delegateActive === 'history' }" @click="mobile.delegateActive = 'history'">历史委托</th>
                </tr>
            </table>
            <div v-if="mobile.delegateActive === 'current'">
                <div class="exchange-main-current-item">
                    <div class="exchange-main-current-item-header">
                        <span class="exchange-main-current-item-tag-red">卖</span>
                        <span class="exchange-main-current-item-token-pair">KBY/EOS</span>
                        <span class="exchange-main-current-item-date">12-18</span>
                        <a class="exchange-main-current-item-cancel-button">取消</a>
                    </div>
                    <table class="exchange-main-delegate-detail-table">
                        <tr class="field">
                            <td>委托价</td>
                            <td>委托量</td>
                            <td>成交量</td>
                        </tr>
                        <tr>
                            <td>0.0001</td>
                            <td>0.0001</td>
                            <td>--</td>
                        </tr>
                    </table>
                </div>
                <div class="exchange-main-current-item">
                    <div class="exchange-main-current-item-header">
                        <span class="exchange-main-current-item-tag-red">卖</span>
                        <span class="exchange-main-current-item-token-pair">KBY/EOS</span>
                        <span class="exchange-main-current-item-date">12-18</span>
                        <a class="exchange-main-current-item-cancel-button">取消</a>
                    </div>
                    <table class="exchange-main-delegate-detail-table">
                        <tr class="field">
                            <td>委托价</td>
                            <td>委托量</td>
                            <td>成交量</td>
                        </tr>
                        <tr>
                            <td>0.0001</td>
                            <td>0.0001</td>
                            <td>--</td>
                        </tr>
                    </table>
                </div>
                <div class="exchange-main-current-item">
                    <div class="exchange-main-current-item-header">
                        <span class="exchange-main-current-item-tag-red">卖</span>
                        <span class="exchange-main-current-item-token-pair">KBY/EOS</span>
                        <span class="exchange-main-current-item-date">12-18</span>
                        <a class="exchange-main-current-item-cancel-button">取消</a>
                    </div>
                    <table class="exchange-main-delegate-detail-table">
                        <tr class="field">
                            <td>委托价</td>
                            <td>委托量</td>
                            <td>成交量</td>
                        </tr>
                        <tr>
                            <td>0.0001</td>
                            <td>0.0001</td>
                            <td>--</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div v-if="mobile.delegateActive === 'history'">
                <div class="exchange-main-current-item">
                    <div class="exchange-main-current-item-header">
                        <span class="exchange-main-current-item-tag-red">卖</span>
                        <span class="exchange-main-current-item-token-pair">KBY/EOS</span>
                        <span class="exchange-main-current-item-date">12-18</span>
                        <div class="exchange-main-current-item-finished">已成交</div>
                    </div>
                    <table class="exchange-main-delegate-detail-table">
                        <tr class="field">
                            <td>委托价</td>
                            <td>委托量</td>
                            <td>成交量</td>
                        </tr>
                        <tr>
                            <td>0.0001</td>
                            <td>0.0001</td>
                            <td>--</td>
                        </tr>
                        <tr class="field">
                            <td>成交均价</td>
                            <td>成交总量</td>
                            <td>手续费</td>
                        </tr>
                        <tr>
                            <td>0.0001</td>
                            <td>0.0001</td>
                            <td>免费</td>
                        </tr>
                    </table>
                </div>
                <div class="exchange-main-current-item">
                    <div class="exchange-main-current-item-header">
                        <span class="exchange-main-current-item-tag-red">卖</span>
                        <span class="exchange-main-current-item-token-pair">KBY/EOS</span>
                        <span class="exchange-main-current-item-date">12-18</span>
                        <div class="exchange-main-current-item-finished">已成交</div>
                    </div>
                    <table class="exchange-main-delegate-detail-table">
                        <tr class="field">
                            <td>委托价</td>
                            <td>委托量</td>
                            <td>成交量</td>
                        </tr>
                        <tr>
                            <td>0.0001</td>
                            <td>0.0001</td>
                            <td>--</td>
                        </tr>
                        <tr class="field">
                            <td>成交均价</td>
                            <td>成交总量</td>
                            <td>手续费</td>
                        </tr>
                        <tr>
                            <td>0.0001</td>
                            <td>0.0001</td>
                            <td>免费</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>